@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: Quicksand,Montserrat , sans-serif;
  }

  body {
    position: relative;
   
  }
  
    .container{
        width: full;
        margin: 0 auto;
        padding: 10px 10px;
    }
}

 /* Swiper  */
 
.swiper-pagination-bullet { 
  background-color: #E5EFEB; 
  width: 50px;
  height: 10px;
  opacity: 0.8;
  transition: all 0.3s ease;
}


.swiper-pagination-bullet-active {
  background-color: #438DB8 !important; 
  width: 50px;
  height: 12px;
  opacity: 1;
}
.swiper-pagination-bullets{
  margin-bottom: 60px;
  
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  width: 42px;
  height: 6px;
  border-radius: 1px;
}

.swiper-button-prev{
  display: block !important;
  color:red !important;
}
.swiper-button-next{
  display: block !important;
  color:red !important;
}