@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: Quicksand,Montserrat , sans-serif;
  }

  body {
    position: relative;
   
  }
  
    .container{
        width: full;
        margin: 0 auto;
        padding: 10px 10px;
    }
}

 /* Swiper  */
.swiper-pagination-bullet { 
  background-color: #E5EFEB; 
  width: 50px;
  height: 10px;
  opacity: 0.8;
  transition: all 0.3s ease;
}


.swiper-pagination-bullet-active {
  background-color: #438DB8 !important; 
  width: 50px;
  height: 12px;
  opacity: 1;
}
.swiper-pagination-bullets{
  margin-bottom: 60px;
  
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  width: 42px;
  height: 6px;
  border-radius: 1px;
}

/* Mansory gallery */
.masonry-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 1rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.masonry-item {
  grid-row: span 1;
}

.masonry-item:nth-child(1),
.masonry-item:nth-child(5) {
  grid-row: span 2;
}
@media screen and (min-width: 640px) {
  .masonry-gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .masonry-item:nth-child(6),
  .masonry-item:nth-child(7) {
    grid-row: span 2;
  }
}

@media screen and (min-width: 1024px) {
  .masonry-gallery {
    grid-template-columns: repeat(5, 1fr);
  }

  .masonry-item:nth-child(6),
  .masonry-item:nth-child(7) {
    grid-row: span 1;
  }
}