@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: Quicksand,Montserrat,sans-serif;

  }

  body {
    position: relative;
  font-family:Montserrat;
   
  }
  
    .container{
        width: full;
        margin: 0 auto;
        padding: 10px 10px;
    }
    .menu-btn{
      color:#438DB8 !important;
    }
}

 /* Swiper  */
 
.swiper-pagination-bullet { 
  background-color: #E5EFEB; 
  width: 50px;
  height: 10px;
  opacity: 0.8;
  transition: all 0.3s ease;
}


.swiper-pagination-bullet-active {
  background-color: #438DB8 !important; 
  width: 50px;
  height: 12px;
  opacity: 1;
}
.swiper-pagination-bullets{
  margin-bottom: 60px;
  
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  width: 42px;
  height: 6px;
  border-radius: 1px;
}

.swiper-button-prev{
  display: block !important;
  color:red !important;
}
.swiper-button-next{
  display: block !important;
  color:red !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 60%;
}

.swiper-slide:nth-child(2n) {
  width: 40%;
}

.swiper-slide:nth-child(3n) {
  width: 20%;
}
